.team-member {
    text-align: center;
    margin: 50px auto;
}

.team-member img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.team-member h2 {
    font-size: 1.6rem;
    color: #38b6ff;
    margin-top: 20px;
}

.team-member h3 {
    font-size: 1.4rem;
    color: #BBBBBB;
}

.team-member p {
    color: #BBBBBB;
    font-size: 1.1rem;
    max-width: 400px;
    margin: 0 auto;
    padding: 0 20px;
}

.h-global-transition-all {
    transition: all .3s ease;
}
.team-row {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.team-member {
    flex: 1;
    margin: 1em;
    text-align: center;
}

.team-photo {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 1em auto; /* This will center the image horizontally */
}

.text-header {
    color: #BBBBBB;
    margin-top: 160px;
    text-align: center;
}

/* team.css */
@media screen and (max-width: 768px) {
    .team-row {
        flex-direction: column;
    }

    .team-member {
        margin-bottom: 50px;
    }
}
